[Desktop Entry]
Version='0.23.1.200518'
Type=Application
Exec=kangaroo
Icon=kangaroo
StartupNotify=true
Terminal=false
Categories=Development;
Name=Kangaroo
Comment=Kangaroo is a SQL client and admin tool for popular databasess
